# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Ambiente
.env
.env.*

# Diretórios de build/output
dist/
out/
build/
release/
coverage/
.vscode/

# Electron
*.exe
*.dll
*.so
*.dmg
*.app
*.asar
*.deb
*.snap
*.rpm
*.pkg

# Arquivos gerados por Electron
electron-builder.yml
electron-builder.json
electron-builder.json5

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários e caches
*.swp
*.swo
*.tmp
*.bak
.cache/
